
html, body
{
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.mainContainer
{
	display: flex;
	flex-direction: row;
}

.sidebar
{
	flex-basis: auto;
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 100%;

	color: #FFFFFF;
	background-color: #BFFFF1;
}

.sections
{
	flex: 1 1;

	display: flex;
	flex-direction: column;

	background-color: #b39ddb;
}

.sections_title
{
	width: 100%;
	height: 40px;

	text-align: center;
	vertical-align: middle;
	line-height: 40px;

	background-color: #673ab7;
}

.sections_list
{
	flex: 1 1;

	overflow-y: auto;
}

.sections_add
{
	width: 100%;
	height: 30px;

	text-align: center;
	vertical-align: middle;
	line-height: 30px;

	background-color: #673ab7;
}

.files
{
	flex: 1 1;

	display: flex;
	flex-direction: column;

	background-color: #d1c4e9;
}

.files_title
{
	width: 100%;
	height: 40px;

	text-align: center;
	vertical-align: middle;
	line-height: 40px;

	background-color: #7e57c2;
}

.files_list
{
	flex: 1 1;

	overflow-y: auto;
}

.files_add
{
	width: 100%;
	height: 30px;

	text-align: center;
	vertical-align: middle;
	line-height: 30px;

	background-color: #7e57c2;
}

.mainView
{
	flex: 1 1 auto;
	/*
	display: flex;
	flex-direction: column;*/
}

.doc_toolbar
{
	width: 100%;
	height: 40px;
	background-color: #dddddd;
}

.doc
{
	flex: 1 1;
	width: 100%;
	height: calc(100% - 40px); /* // TODO: Find a way to get rid of this calc. */
	background-color: #FFFFFF;
}

